.action-box {
    height:28px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    padding-left: 8px ;
    padding-right: 8px ;
    display: flex;
    cursor:pointer
}

.like-icon {
    position:relative;
}

.adjacent {
    z-index: 2;
    display: none ;
    top: -50px;
    left: -15px;
}

.like-icon:hover > .adjacent {
    position: absolute ;
    display: block;
}
