.logo-label {
    width:80px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#666666;
    height:100%;
}

.logo-text {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color:#666666;
}

.nav-logos {
    width:24px;
    color:#666666;
}


.nav-logos:hover {
    fill:black;
}

.nav-logos:active {
    fill:black
}
